<footer class="site-footer">

  <div class="wrapper">

    <h4 class="footer-heading">{{ site.title }}</h4>

    <div class="row">
      <div class="col-md-3">
        <ul class="contact-list">
          <li>      
            subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
          </li>
          <li><a href="mailto:{{ site.email }}">drop me a line</a></li>
        </ul>
      </div>

      <div class="col-md-9">
        <p class="footer-quote"><b>❝</b> Here lies the body of William Jay. Who died maintaining his right of way He was right, dead right, as he sped along, But he's just as dead as if he were wrong.<b>❞</b></p>
      </div>
    </div>

  </div>

</footer>
